<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
  </head>
  <body>
    <h1>The requested page does not exists</h1>
    <p>move to <a href='/login'>login</a></p>
    <p>mote to <a href="/">home</a></p>
  </body>
</html>